.boxesWrapper {
    display: grid;
    gap: 2rem;

    @media (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 3vw;
        row-gap: 1.5rem;
    }
    @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }
    @media (min-width: 1200px) {
        gap: 2rem;
    }
}