body {
    margin: 0;
    font-family: 'Opens Sans', sans-serif;
    background-color: #A7C1D9;

    main {
        max-width: 90%;
        margin: 2rem auto;
        
        @media (min-width: 1200px) {
            max-width: 1170px;
        }
    }
}